[submodule "ScreepsAutocomplete"]
	path = ScreepsAutocomplete
	url = https://github.com/Garethp/ScreepsAutocomplete.git
[submodule "lodash"]
	path = lodash
	url = https://github.com/lodash/lodash.git
